body {
    font-family: "Montserrat", sans-serif;
    background-image: url(/img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
    background-size: cover;
    margin: 0;
    padding: 20px;
}



h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-transform: capitalize;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #7f2a6d;
    font-weight: bold;

}

select,
button {
    margin-bottom: 10px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #1ec8d8;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

select:hover,
button:hover {
    background-color: #e9e9e9;
    border-color: #999;
    color: #222;
}

select:focus,
button:focus {
    outline: none;
    border-color: #555;
}

.choosePokemon {
    display: flex;
    justify-content: space-around;
    /* Це розподіляє простір навколо елементів */
    align-items: flex-start;
    /* Це вирівнює елементи за початком контейнера */
    flex-wrap: wrap;
    /* Додаткове центрування */
}

.pokemonDetailsContainer {
    display: flex;
    justify-content: space-around;
    /* Це розподіляє простір навколо елементів */
    align-items: flex-start;
    /* Це вирівнює елементи за початком контейнера */
    flex-wrap: wrap;
    /* Дозволяє елементам обгортатися на новий рядок, якщо не вистачає місця */
}

#compareButton,
#startBattleBtn {
    display: block;
    /* Робить кнопку блочним елементом */
    margin: 20px auto;
    /* Додає вертикальний відступ та автоматичний горизонтальний відступ */
    padding: 10px 20px;
    /* Відступи всередині кнопки для зручності натискання */
    font-size: 16px;
    /* Розмір шрифту для кнопки */
    cursor: pointer;
    /* Вказівник курсору змінюється, коли наводиш на кнопку */
    border-radius: 5px;
    /* Закруглені кути для кращого візуального вигляду */
    background-color: rgb(70, 206, 208);
    /* Колір фону кнопки */
    color: #ffffff;
    /* Колір тексту кнопки */
    border: #121010;
    /* Відсутність рамки */
    /* Плавна анімація при наведенні */
}


#pokemonDetails1,
#pokemonDetails2 {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(251, 196, 180, 0.5);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 300px;

}

#comparisonResult {
    display: flex;
    justify-content: space-around;
    /* Це розподіляє простір навколо елементів */
    align-items: flex-start;
    /* Це вирівнює елементи за початком контейнера */
    flex-wrap: wrap;

}

/* .pokemon-comparison {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(190, 8, 8, 0.1);
    margin-top: 20px;
} */

.pokemon-comparison,
.battle-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#pokemonDetails1 img,
#pokemonDetails2 img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.pokemon-comparison h3 {
    margin-top: 0;
    color: rgb(198, 28, 138);
    font-weight: bold;
}


/* div.stat {}
 */

.bar {
    height: 10px;
    background-color: rgb(19, 191, 193);
    /* Blue color */
    margin-top: 5px;
}



.stats-container {
    margin-top: 10px;
}

.stat p {
    margin: 5px 0;
}

.hp-bar {
    width: 200px;
    height: 20px;
    background-color: #eee;
    border: 1px solid #333;
    position: relative;
}

.hp-bar-fill {
    height: 20px;
    background-color: red;
    transition: width 0.5s ease;
    display: flex;


}

.hp-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: rgb(42, 201, 219);
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* Fallback color */
    /* Black w/ opacity */
}

.modal-content {
    background-image: url(/img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
    background-size: cover;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.battle-log-messages p {
    margin-top: 30px;
    margin-bottom: 10px;
    /* Відступи між параграфами */
    padding: 10px;
    /* Внутрішні відступи для параграфів */
    background-color: #fff;
    /* Білий фон для кожного повідомлення */
    border-radius: 5px;
    /* Скруглені кути для повідомлень */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Тінь для елементів, що випливають */
    font-size: 15px;
}

.battle-log-messages p:nth-child(odd) {
    background-color: #e9e9e9;
    /* Змінення фону для зрозумілості послідовності */
}

@keyframes attack {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }
}

.attacking {
    animation: attack 0.5s ease;
}

@media (max-width: 600px) {

    #pokemonDetails1,
    #pokemonDetails2 {
        width: 100%;
        /* На маленьких екранах кожен блок займає повну ширину */
    }
}